<div class="tb2-character-sheet-abilities">
  <h1>{{localize 'TB2.TitleAbilities'}}</h1>
  <div>
    <label for="ability-will">{{localize "TB2.AbilityWillLabel"}}</label>
    <input id="ability-will" data-type="Number" type="number" name="ability-will" value="{{actor.data.data.will.rank}}" />

    <label for="ability-health">{{localize "TB2.AbilityHealthLabel"}}</label>
    <input id="ability-health" data-type="Number" type="number" name="ability-health" value="{{actor.data.data.health.rank}}" />

    <label for="ability-nature">{{localize "TB2.AbilityNatureLabel"}}</label>
    <input id="ability-nature" data-type="Number" type="number" name="ability-nature" value="{{actor.data.data.nature.rank}}" />

    <label for="ability-health">{{localize "TB2.AbilityHealthLabel"}}</label>
    <input id="ability-health" data-type="Number" type="number" name="ability-health" value="{{actor.data.data.health.rank}}" />

    <label for="ability-health">{{localize "TB2.AbilityHealthLabel"}}</label>
    <input id="ability-health" data-type="Number" type="number" name="ability-health" value="{{actor.data.data.health.rank}}" />

    <label for="ability-health">{{localize "TB2.AbilityHealthLabel"}}</label>
    <input id="ability-health" data-type="Number" type="number" name="ability-health" value="{{actor.data.data.health.rank}}" />


  </div>
</div>
