<div class="tb2-character-sheet-abilities">
  <h1>{{localize 'TB2.TitleAbilities'}}</h1>
  <div>
    <label for="ability-will">{{localize "TB2.AbilityWillLabel"}}</label>
    <input id="ability-will" data-type="Number" type="number" name="actor.data.data.will.rank" value="{{actor.data.data.will.rank}}" />

    <label for="ability-health">{{localize "TB2.AbilityHealthLabel"}}</label>
    <input id="ability-health" data-type="Number" type="number" name="actor.data.data.health.rank" value="{{actor.data.data.health.rank}}" />

    <label for="ability-nature">{{localize "TB2.AbilityNatureCurrentLabel"}}</label>
    <input id="ability-nature" data-type="Number" type="number" name="actor.data.data.nature.current" value="{{actor.data.data.nature.current}}" />

    <label for="ability-nature">{{localize "TB2.AbilityNatureMaxLabel"}}</label>
    <input id="ability-nature" data-type="Number" type="number" name="actor.data.data.nature.max" value="{{actor.data.data.nature.max}}" />

    <label for="ability-resources">{{localize "TB2.AbilityResourcesLabel"}}</label>
    <input id="ability-resources" data-type="Number" type="number" name="actor.data.data.resources.rank" value="{{actor.data.data.health.rank}}" />

    <label for="ability-circles">{{localize "TB2.AbilityCirclesLabel"}}</label>
    <input id="ability-circles" data-type="Number" type="number" name="actor.data.data.circles.rank" value="{{actor.data.data.health.rank}}" />

  </div>
</div>
