<header>
  <img class="tb-actor-header__img" src="{{data.img}}"
       data-edit="img"
       alt="{{localize 'TB2.ActorImageAlt'}}"
       title="{{data.name}}"
       height="100"
       width="100"/>
  <div class="tb-actor-header-data">
    <div class="tb-actor-header__data-row">
        <h1 class="tb-actor-header__name">
          <label for="name-{{data._id}}" class="hidden">{{localize 'TB2.ActorName'}}</label>
          <input class="tb-actor-header__name-input"
                 name="name"
                 type="text"
                 id="name-{{data._id}}"
                 value="{{data.name}}"
                 placeholder="{{localize 'TB2.ActorName'}}">
        </h1>
    </div>
    <div class="tb-actor-header__data-row">
      {{> @partial-block}}
    </div>
  </div>
</header>
