<div class="tb2-bio-data">
  <h1>{{localize 'TB2.TitleBiographicalData'}}</h1>
  <div>
    <label for="character-name">{{localize "TB2.CharacterNameLabel"}}</label>
    <input id="character-name" data-type="String" type="text" name="name" value="{{actor.name}}" class="change-item"/>

    <label for="character-stock">{{localize "TB2.CharacterStockLabel"}}</label>
    <input id="character-stock" data-type="String" type="text" name="actor.data.data.stock" value="{{actor.data.data.stock}}"  class="change-item"/>

    <label for="character-class">{{localize "TB2.CharacterClassLabel"}}</label>
    <input id="character-class" data-type="String" type="text" name="actor.data.data.career" value="{{actor.data.data.career}}"  class="change-item"/>

    <label for="character-age">{{localize "TB2.CharacterAgeLabel"}}</label>
    <input id="character-age" data-type="Number" type="number" name="actor.data.data.age" value="{{actor.data.data.age}}"  class="change-item"/>

    <label for="character-home">{{localize "TB2.CharacterHomeLabel"}}</label>
    <input id="character-home" data-type="String" type="text" name="actor.data.data.hometown" value="{{actor.data.data.hometown}}"  class="change-item"/>

    <label for="character-raiment">{{localize "TB2.CharacterRaimentLabel"}}</label>
    <input id="character-raiment" data-type="String" type="text" name="actor.data.data.raiment" value="{{actor.data.data.raiment}}"  class="change-item"/>

  </div>
</div>
