<div class="tb-bio-data">
  <h1>{{localize 'TB2.TitleBiographicalData'}}</h1>
  <div class="form-group">
    <label for="character-name">{{localize "TB2.CharacterNameLabel"}}</label>
    <input id="character-name"
           data-type="String" type="text"
           name="name"
           value="{{actor.name}}"/>

    <label for="character-stock">{{localize "TB2.CharacterStockLabel"}}</label>
    <input id="character-stock"
           data-type="String" type="text"
           name="data.stock"
           value="{{data.data.stock}}"/>

    <label for="character-class">{{localize "TB2.CharacterClassLabel"}}</label>

    <select id="character-class" data-type="String" name="data.career">
      {{#select data.data.career}}
        {{#each (allClasses) as |value key|}}
          <option value="{{value}}">{{localize (lookup ../config.i18n.attributes value)}}</option>
        {{/each}}
      {{/select}}
    </select>
    <input id="character-class"
           data-type="String" type="text"
           name="data.career"
           value="{{data.data.career}}"/>

    <label for="character-age">{{localize "TB2.CharacterAgeLabel"}}</label>
    <input id="character-age"
           data-type="Number" type="number"
           name="data.age"
           value="{{data.data.age}}"/>

    <label for="character-home">{{localize "TB2.CharacterHomeLabel"}}</label>
    <input id="character-home"
           data-type="String" type="text"
           name="data.hometown"
           value="{{data.data.hometown}}"/>

    <label for="character-raiment">{{localize "TB2.CharacterRaimentLabel"}}</label>
    <input id="character-raiment"
           data-type="String" type="text"
           name="data.raiment"
           value="{{data.data.raiment}}"/>

  </div>
</div>
