<div class="tb2-rewards">
  <h1>{{localize 'TB2.TitleRewards'}}</h1>
  <label for="character-fate">{{localize "TB2.CharacterFateLabel"}}</label>
  <input id="character-fate" data-type="String" type="text" name="character-fate" value="{{actor.data.data.fate}}" />
  <label for="character-fate-spent">{{localize "TB2.CharacterFateSpentLabel"}}</label>
  <input id="character-fate-spent" data-type="String" type="text" name="character-fate-spent" value="{{actor.data.data.fateSpent}}" />
  <label for="character-persona">{{localize "TB2.CharacterPersonaLabel"}}</label>
  <input id="character-persona" data-type="String" type="text" name="character-persona" value="{{actor.data.data.persona}}" />
  <label for="character-persona-spent">{{localize "TB2.CharacterPersonaSpentLabel"}}</label>
  <input id="character-persona-spent" data-type="String" type="text" name="character-persona-spent" value="{{actor.data.data.personaSpent}}" />
</div>
