<div class="tb2-skill rollable-skill"  data-check="{{skills-key}}"  title="{{localize 'TB2.SkillTooltip' check=check-label}}">
  <span>{{skill-label}}</span>
  <span>{{skill-rating}}</span>
<!--  TODO advances-->
  <span>{{log 'everything' this}}</span>
</div>
