<div class="tb-spell rollable-spell"  data-check="{{spell-name}}"  title="{{localize 'TB2.SpellTooltip' check=check-label}}">
  <div>
    <label for="spell-name-{{_id}}">{{localize 'TB2.SpellNameLabel'}}</label><input id="spell-name-{{_id}}" data-type="String" type="text" name="spell-name-{{_id}}" value="{{spell-name}}" />
    <label for="spell-cast-ob-{{_id}}">{{localize 'TB2.SpellCastObLabel'}}</label><input id="spell-cast-ob-{{_id}}" data-type="Number" type="number" name="spell-cast-ob-{{_id}}" value="{{spell-cast-ob}}" />
    <label for="spell-scribe-ob-{{_id}}">{{localize 'TB2.SpellScribeObLabel'}}</label><input id="spell-scribe-ob-{{_id}}" data-type="Number" type="number" name="spell-scribe-ob-{{_id}}" value="{{spell-scribe-ob}}" />
    <label for="spell-learn-ob-{{_id}}">{{localize 'TB2.SpellLearnObLabel'}}</label><input id="spell-learn-ob-{{_id}}" data-type="Number" type="number" name="spell-learn-ob-{{_id}}" value="{{spell-learn-ob}}" />
    <label for="spell-circle-{{_id}}">{{localize 'TB2.SpellCircleLabel'}}</label><input id="spell-circle-{{_id}}" data-type="Number" type="number" name="spell-circle-{{_id}}" value="{{spell-circle}}" />
    <label for="spell-time-{{_id}}">{{localize 'TB2.SpellCastTimeLabel'}}</label><input id="spell-time-{{_id}}" data-type="String" type="text" name="spell-time-{{_id}}" value="{{spell-time}}" />
    <label for="spell-duration-{{_id}}">{{localize 'TB2.SpellDurationLabel'}}</label><input id="spell-duration-{{_id}}" data-type="String" type="text" name="spell-duration-{{_id}}" value="{{spell-duration}}" />
    <label for="spell-focus-{{_id}}">{{localize 'TB2.SpellFocusLabel'}}</label><input id="spell-focus-{{_id}}" data-type="String" type="text" name="spell-focus-{{_id}}" value="{{spell-focus}}" />
    <label for="spell-factors-{{_id}}">{{localize 'TB2.SpellFactorsLabel'}}</label><input id="spell-factors-{{_id}}" data-type="String" type="text" name="spell-factors-{{_id}}" value="{{spell-factors}}" />
    <label for="spell-description-{{_id}}">{{localize 'TB2.SpellDescriptionLabel'}}</label><input id="spell-description-{{_id}}" data-type="String" type="text" name="spell-description-{{_id}}" value="{{spell-description}}" />
  </div>
</div>

