<div class="tb2-trait"  data-check="{{trait-name}}"  title="{{localize 'TB2.TraitTooltip' check=check-label}}">
  <label for="trait-level-{{_id}}">{{trait-name}}</label>
  <input id="trait-level-{{_id}}" data-type="Number" type="number" name="trait-level-{{_id}}" value="{{trait-level}}" />
</div>
