<div class="tb-trait"  data-check="{{trait-name}}"  title="{{localize 'TB2.TraitTooltip' check=check-label}}">
  <label for="trait-name-{{_id}}">{{localize  'TB2.TraitNameLabel'}}</label>
  <input id="trait-name-{{_id}}" data-type="String" type="text" name="trait-name-{{_id}}" value="{{trait-name}}">
  <label for="trait-level-{{_id}}">{{localize 'TB2.TraitLevelLabel'}}</label>
  <input id="trait-level-{{_id}}" data-type="Number" type="number" name="trait-level-{{_id}}" value="{{trait-level}}" />
</div>
