<div class="tab" data-tab="inventory">
  {{log 'inventory-tab' this}}

  <div class="tb-actor-header__data-row">
    <div>header content</div>
  </div>
  {{#unless (isEmpty itemsByType.gear)}}
    <hr>
    {{#each config.i18n.slots as |translation name|}}
      {{#if (gt (lookup ../data.data.containerSlots name) 0)}}
        {{log 'has ' name 'slots:' (lookup ../data.data.containerSlots name) }}
          <h4 class="tb-embedded-document-list-title">{{localize translation}}</h4>
          <ol class="tb-embedded-document-list tb-embedded-document-list--gear item-list">
            {{#each (lookup ../../gearSlotMap name) as |itemData id|}}
              {{#> systems/torchbearer/templates/sheets/actor/components/item-list-header.hbs}}
                <div>Item: {{localize translation}}</div>
              {{/systems/torchbearer/templates/sheets/actor/components/item-list-header.hbs}}
              {{> systems/torchbearer/templates/sheets/actor/components/item-list-entry.hbs
                itemData=itemData}}
            {{/each}}
          </ol>
      {{/if}}
    {{/each}}
  {{/unless}}
  {{#unless (isEmpty ghostGeadr)}}
    {{#each ghostGear as |itemData|}}s
      <h4 class="tb-embedded-document-list-title">{{localize 'TB2.GearTabUnassignedGearHeader'}}</h4>
      <ol class="tb-embedded-document-list tb-embedded-document-list--gear item-list">
        {{#> systems/torchbearer/templates/sheets/actor/components/item-list-header.hbs}}
        {{/systems/torchbearer/templates/sheets/actor/components/item-list-header.hbs}}
        {{> systems/torchbearer/templates/sheets/actor/components/item-list-entry.hbs
          itemData=itemData}}
      </ol>
    {{/each}}
  {{/unless}}
<!--  TODO containers (torso backpack, caches, etc -->
  {{> systems/torchbearer/templates/sheets/actor/components/add-button.hbs
    title='TB2.UserInteractionAddItemTitle'
    documentType='item'
    type='gear'}}
</div>

