<div class="tab" data-tab="inventory">
  {{log 'inventory-tab' this}}

  <div class="tb-actor-header__data-row">
    <div>header content</div>
  </div>
  {{#unless (isEmpty itemsByType.gear)}}
    <hr>
    <div class="grid grid-8col">
      {{#each config.i18n.slots as |translation name|}}
        {{#if (gt (lookup ../data.data.containerSlots name) 0)}}
            <h4 class="tb-embedded-document-list-title">{{localize translation}}</h4>
            <ol class="tb-embedded-document-list tb-embedded-document-list--gear item-list">
              {{#each (lookup ../../gearSlotMap name) as |itemData id|}}
                {{#> systems/torchbearer/templates/sheets/actor/components/item-list-header.hbs}}
                  <div>Item: {{localize translation}}</div>
                {{/systems/torchbearer/templates/sheets/actor/components/item-list-header.hbs}}
                {{> systems/torchbearer/templates/sheets/actor/components/item-list-entry.hbs
                  itemData=itemData}}
              {{/each}}
            </ol>
        {{/if}}
      {{/each}}
    </div>
  {{/unless}}
  {{#unless (isEmpty containers)}}
    {{log containers}}
    <div class="grid grid-8col">
      <h4 class="tb-embedded-document-list-title">{{localize 'TB2.GearTabContainersHeader'}}</h4>
      {{#each containers as |itemData|}}
          <ul class="tb-embedded-document-list tb-embedded-document-list--gear item-list">
         {{!--       {{#> systems/torchbearer/templates/sheets/actor/components/item-list-header.hbs}}
            {{/systems/torchbearer/templates/sheets/actor/components/item-list-header.hbs}}
            {{> systems/torchbearer/templates/sheets/actor/components/item-list-entry.hbs
              itemData=itemData}} --}}
            <div>{{itemData.name}}</div>
            {{{times itemData.data.data.capacity.pack '<li class="tb-embedded-document-list__row grid-4col">Empty slot!</li>'}}}
          </ul>
      {{/each}}
    </div>
  {{/unless}}
  {{#unless (isEmpty ghostGear)}}
    <div class="grid grid-8col">
      <h4 class="tb-embedded-document-list-title">{{localize 'TB2.GearTabUnassignedGearHeader'}}</h4>
      {{#each ghostGear as |itemData|}}
        <ul class="tb-embedded-document-list tb-embedded-document-list--gear item-list">
         {{#> systems/torchbearer/templates/sheets/actor/components/item-list-header.hbs}}
          {{/systems/torchbearer/templates/sheets/actor/components/item-list-header.hbs}}
          {{#> systems/torchbearer/templates/sheets/actor/components/item-list-entry.hbs
            itemData=itemData
            isPhysical=true}}
            {{log "itemData:" itemData}}
              <div class="side-property">
                <label for="data.containedIn-{{itemData._id}}">{{localize 'TB2.GearContainedInLabel'}}</label>
                <select id="data.containedIn-{{itemData._id}}"
                        name="data.containedIn"
                        class="tb-embedded-document-list__editable change-item"
                        data-item-id="{{itemData._id}}"
                        data-property="data.containedIn"   data-dtype="String">
                  <option disabled>{{localize "TB2.GearContainedInNothingLabel"}}</option>
                  {{#select itemData.data.containedIn}}
                    {{#each ../../actor.data.data.containerSlots as |slotKey slotIdx|}}
                      {{log "slotKey:" slotKey}}
                      <option value="{{slotKey}}"
                              {{#if (compareItemSlot itemData.data.containedIn slotKey)}}selected{{/if}}
                      >{{localize slotKey}}</option>
                    {{/each}}
                  {{/select}}
                </select>
              </div>
          {{/systems/torchbearer/templates/sheets/actor/components/item-list-entry.hbs}}
        </ul>
      {{/each}}
    </div>
  {{/unless}}
<!--  TODO containers (torso backpack, caches, etc -->
  {{> systems/torchbearer/templates/sheets/actor/components/add-button.hbs
    title='TB2.UserInteractionAddItemTitle'
    documentType='item'
    type='gear'}}
</div>

