<div class="tab" data-tab="skills">

  <div class="tb-actor-header__data-row">
    {{> systems/torchbearer/templates/sheets/actor/components/abilities.hbs}}
  </div>

  {{#unless (isEmpty itemsByType.skill)}}
    <hr>
    <div class="grid grid-3col tb-actor-properties__property-multi-input">
      <h3 class="tb-embedded-document-list-title">{{localize 'TB2.SkillsHeader'}}</h3>
      <ol class="tb-embedded-document-list tb-embedded-document-list--skill item-list">
        {{#> systems/torchbearer/templates/sheets/actor/components/item-list-header.hbs}}
          <div>{{localize 'TB2.SkillHeader'}}</div>
        {{/systems/torchbearer/templates/sheets/actor/components/item-list-header.hbs}}

        {{#each itemsByType.skill as |itemData id|}}
          {{#> systems/torchbearer/templates/sheets/actor/components/item-list-entry.hbs
            itemData=itemData
            hideDescription=true}}
            <div class="grid grid-3col tb-skill rollable-skill tb-embedded-document-list__row item"
                 data-check="{{itemData.name}}"
                 data-item-id="{{itemData._id}}"
                 title="{{localize 'TB2.SkillTooltip' check=check-label}}">
              <label for="data.rank-{{itemData._id}}">{{itemData.name}}</label>
              <input id="data.rank-{{itemData._id}}"
                     class="tb-embedded-document-list__editable change-item"
                     data-type="Number" type="number"
                     data-property="data.rank"
                     value="{{itemData.data.rank}}" />
              <label for="data.passes-{{itemData._id}}">{{localize 'TB2.SkillPassesLabel'}}</label>
              <input id="data.passes-{{itemData._id}}"
                     class="tb-embedded-document-list__editable change-item"
                     data-type="Number" type="number"
                     data-property="data.passes"
                     value="{{itemData.data.passes}}" />
              <label for="data.fails-{{itemData._id}}">{{localize 'TB2.SkillFailsLabel'}}</label>
              <input id="data.fails-{{itemData._id}}"
                     class="tb-embedded-document-list__editable change-item"
                     data-type="Number" type="number"
                     data-property="data.fails"
                     value="{{itemData.data.fails}}" />
              <label for="data.attempts-{{itemData._id}}">{{localize 'TB2.SkillAttemptsLabel'}}</label>
              <input id="data.attempts-{{itemData._id}}"
                     class="tb-embedded-document-list__editable change-item"
                     data-type="Number" type="number"
                     data-property="data.attempts"
                     value="{{itemData.data.attempts}}" />
            </div>
          {{/systems/torchbearer/templates/sheets/actor/components/item-list-entry.hbs}}

        {{/each}}
      </ol>
    </div>
  {{/unless}}
  {{> systems/torchbearer/templates/sheets/actor/components/add-button.hbs
    title='TB2.UserInteractionAddItemTitle'
    documentType='item'
    type='skill'}}
</div>
