<div class="form-group">
  <h4>{{localize 'TB2.GearSlotsHeader'}}</h4>
  {{#each config.i18n.slots as |translation name|}}
    <label for="data.{{name}}-{{data._id}}">{{localize translation}}</label>
    <input
      class="tb-embedded-document-list__editable change-item"
      type="number" data-type="Number"
      title="{{localize 'TB2.GearItemSize'}}"
      id="data.{{name}}-{{data._id}}"
      name="data.volume.{{name}}"
      value="{{lookup data.data.volume name}}">
  {{/each}}
  <label for="data.stackSize-{{data._id}}">{{localize 'TB2.GearPocketSlotsLabel'}}</label>
  <input
    class="tb-embedded-document-list__editable change-item"
    type="number" data-type="Number"
    title="{{localize 'TB2.GearItemStackSizeSize'}}"
    id="data.stackSize-{{data._id}}"
    name="data.volume.stackSize"
    value="{{data.data.volume.stackSize}}">
</div>
