
<form class="{{cssClass}}" autocomplete="off">
  {{#> systems/torchbearer/templates/sheets/item/components/sheet-header.hbs}}
    {{#if editable}}
      editable!
    {{else}}
      not editable
    {{/if}}
  {{/systems/torchbearer/templates/sheets/item/components/sheet-header.hbs}}

  {{log 'gear sheet' this}}
  {{!-- Common Item body --}}
  {{#> systems/torchbearer/templates/sheets/item/tabs/configuration.hbs}}
    <div class="form-group">
      <label for="data.cost-{{data._id}}">{{localize 'TB2.GearCostLabel'}}</label>
      <input
        class="tb-embedded-document-list__editable change-item"
        type="number" data-type="Number"
        title="{{localize 'TB2.GearCostInput'}}"
        id="data.cost-{{data._id}}"
        name="data.cost"
        value="{{data.data.cost}}">
      <label for="data.cost-{{data._id}}">{{localize 'TB2.GearAvailabilityLabel'}}</label>
      <input
        class="tb-embedded-document-list__editable change-item"
        type="text" data-type="String"
        title="{{localize 'TB2.GearAvailabilityInput'}}"
        id="data.cost-{{data.availability}}"
        name="data.availability"
        value="{{data.data.availability}}">
    </div>
    {{> systems/torchbearer/templates/sheets/item/components/gear-slots.hbs}}
  {{/systems/torchbearer/templates/sheets/item/tabs/configuration.hbs}}

  {{#> systems/torchbearer/templates/sheets/item/components/body.hbs}}

  {{/systems/torchbearer/templates/sheets/item/components/body.hbs}}
</form>
