
<form class="{{cssClass}}" autocomplete="off">
  {{#> systems/torchbearer/templates/sheets/item/components/sheet-header.hbs}}
    {{#if editable}}
      editable!
    {{else}}
      not editable
    {{/if}}

  {{/systems/torchbearer/templates/sheets/item/components/sheet-header.hbs}}

    {{log 'gear sheet' this}}
  {{!-- Common Item body --}}
  {{#> systems/torchbearer/templates/sheets/item/components/body.hbs}}
    <h2>{{localize 'TB2.GearSlotsHeader'}}</h2>
    <label for="data.arm-{{itemData._id}}">{{localize 'TB2.GearArmSlotsLabel'}}</label><input
      class="tb-embedded-document-list__editable change-item"
      type="number"
      id="data.arm-{{itemData._id}}"
      name="data.arm"
      value="{{data.data.arm}}">
    <label for="data.belt-{{itemData._id}}">{{localize 'TB2.GearBeltSlotsLabel'}}</label><input
      class="tb-embedded-document-list__editable change-item"
      type="number"
      id="data.belt-{{itemData._id}}"
      name="data.belt"
      value="{{data.data.belt}}">
    <label for="data.feet-{{itemData._id}}">{{localize 'TB2.GearFeetSlotsLabel'}}</label><input
      class="tb-embedded-document-list__editable change-item"
      type="number"
      id="data.feet-{{itemData._id}}"
      name="data.feet"
      value="{{data.data.feet}}">
    <label for="data.hand-{{itemData._id}}">{{localize 'TB2.GearHandSlotsLabel'}}</label><input
      class="tb-embedded-document-list__editable change-item"
      type="number"
      id="data.hand-{{itemData._id}}"
      name="data.hand"
      value="{{data.data.hand}}">
    <label for="data.head-{{itemData._id}}">{{localize 'TB2.GearHeadSlotsLabel'}}</label><input
      class="tb-embedded-document-list__editable change-item"
      type="number"
      id="data.head-{{itemData._id}}"
      name="data.head"
      value="{{data.data.head}}">
    <label for="data.held-{{itemData._id}}">{{localize 'TB2.GearHeldSlotsLabel'}}</label><input
      class="tb-embedded-document-list__editable change-item"
      type="number"
      id="data.held-{{itemData._id}}"
      name="data.held"
      value="{{data.data.held}}">
    <label for="data.neck-{{itemData._id}}">{{localize 'TB2.GearNeckSlotsLabel'}}</label><input
      class="tb-embedded-document-list__editable change-item"
      type="number"
      id="data.neck-{{itemData._id}}"
      name="data.neck"
      value="{{data.data.neck}}">
    <label for="data.pack-{{itemData._id}}">{{localize 'TB2.GearPackSlotsLabel'}}</label><input
      class="tb-embedded-document-list__editable change-item"
      type="number"
      id="data.pack-{{itemData._id}}"
      name="data.pack"
      value="{{data.data.pack}}">
    <label for="data.slots-{{itemData._id}}">{{localize 'TB2.GearSlotsSlotsLabel'}}</label><input
      class="tb-embedded-document-list__editable change-item"
      type="number"
      id="data.slots-{{itemData._id}}"
      name="data.slots"
      value="{{data.data.slots}}">
    <label for="data.torso-{{itemData._id}}">{{localize 'TB2.GearTorsoSlotsLabel'}}</label><input
      class="tb-embedded-document-list__editable change-item"
      type="number"
      id="data.torso-{{itemData._id}}"
      name="data.torso"
      value="{{data.data.torso}}">
    <label for="data.pocket-{{itemData._id}}">{{localize 'TB2.GearPocketSlotsLabel'}}</label><input
      class="tb-embedded-document-list__editable change-item"
      type="number"
      id="data.pocket-{{itemData._id}}"
      name="data.pocket"
      value="{{data.data.pocket}}">
  {{/systems/torchbearer/templates/sheets/item/components/body.hbs}}
</form>
