{{!--
SPDX-FileCopyrightText: 2021 Johannes Loher
SPDX-FileCopyrightText: 2021 Oliver Rümpelein
SPDX-FileCopyrightText: 2021 Gesina Schwalbe

SPDX-License-Identifier: MIT
--}}

<form class="{{cssClass}} tb2-sheet" autocomplete="off">
  {{!-- Header --}}
  {{log 'character sheet' this}}
  {{#> systems/torchbearer/templates/sheets/actor/components/actor-header.hbs}}
  {{!--    {{> systems/torchbearer/templates/sheets/actor/components/character-properties.hbs}} --}}
    {{/systems/torchbearer/templates/sheets/actor/components/actor-header.hbs}}

    {{!-- Sheet Tab Navigation --}}
<!--  <nav class="tb2-sheet-tab-nav sheet-tabs tabs" data-group="primary">-->
<!--    <a class="tb2-sheet-tab-nav__item item" data-tab="values">{{localize 'TB2.HeadingValues'}}</a>-->
<!--    <a class="tb2-sheet-tab-nav__item item" data-tab="inventory">{{localize 'TB2.HeadingInventory'}}</a>-->
<!--    <a class="tb2-sheet-tab-nav__item item" data-tab="spells">{{localize 'TB2.HeadingSpells'}}</a>-->
<!--    <a class="tb2-sheet-tab-nav__item item" data-tab="abilities">{{localize 'TB2.HeadingAbilities'}}</a>-->
<!--    <a class="tb2-sheet-tab-nav__item item" data-tab="effects">{{localize 'TB2.HeadingEffects'}}</a>-->
<!--    <a class="tb2-sheet-tab-nav__item item" data-tab="biography">{{localize 'TB2.HeadingBiography'}}</a>-->
<!--  </nav>-->

  <!-- beautify ignore:start -->
  <!-- prettier-ignore-start -->
  {{!-- Sheet Body (remove indentation to avoid annoying Handlebars auto-indent) --}}
  <section class="sheet-body">
    {{!-- Values Tab --}}
{{!--   {{> systems/torchbearer/templates/sheets/actor/tabs/values.hbs}} --}}

    {{!-- Skills Tab --}}
    {{> systems/torchbearer/templates/sheets/actor/components/bio-data.hbs}}
    {{> systems/torchbearer/templates/sheets/actor/components/bigs.hbs}}
    {{> systems/torchbearer/templates/sheets/actor/components/rewards.hbs}}
    {{> systems/torchbearer/templates/sheets/actor/components/traits.hbs}}
    {{> systems/torchbearer/templates/sheets/actor/components/add-button.hbs
      title='TB2.UserInteractionAddItemTitle'
      documentType='item'
      type='trait'}}
    {{> systems/torchbearer/templates/sheets/actor/components/wises.hbs}}
    {{> systems/torchbearer/templates/sheets/actor/components/add-button.hbs
      title='TB2.UserInteractionAddItemTitle'
      documentType='item'
      type='wise'}}

    {{!-- Skills Tab --}}
    {{> systems/torchbearer/templates/sheets/actor/components/skills.hbs}}
    {{> systems/torchbearer/templates/sheets/actor/components/add-button.hbs
      title='TB2.UserInteractionAddItemTitle'
      documentType='item'
      type='skill'}}
    {{> systems/torchbearer/templates/sheets/actor/components/spells.hbs}}
    {{> systems/torchbearer/templates/sheets/actor/components/add-button.hbs
      title='TB2.UserInteractionAddItemTitle'
      documentType='item'
      type='spell'}}

    {{!-- Inventory Tab --}}
    {{!--    {{> systems/torchbearer/templates/sheets/actor/tabs/character-inventory.hbs}}--}}

  </section>
  <!-- prettier-ignore-end -->
  <!-- beautify ignore:end -->
</form>
